#main{
	background-color: white;
}


#footer{
	padding: 40px 0;
	@media screen and (max-width: $break-small) {
		padding: 30px 0;
	}
	.container{
		@extend .clearfix;	
	}
	#footer-top{
		.alpha,.beta,.gamma{
			@include span-columns(4);
			@media screen and (max-width: $break-small) {
				@include span-columns(12);
				margin-bottom: 20px;
			}
		}
		.alpha{
			padding:0 10px 0 0;
			@media screen and (max-width: $break-small) {
				padding:0;
			}
		}
		.beta{
			padding:0 10px;
			@media screen and (max-width: $break-small) {
				padding:0;
			}
		}
		.gamma{
			padding:0 0 0 10px;
			@media screen and (max-width: $break-small) {
				padding:0;
			}
		}
		h4{
			@include font-size(16);
			color: white;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 30px;
			@media screen and (max-width: $break-medium) {
				@include font-size(14);
			}
			@media screen and (max-width: $break-small) {
				margin-bottom: 15px;
			}
		}
		.gform_wrapper{
			li{
				margin-bottom:12px;
			}
			label{
				display: none;
			}
			input{
				background-color:#363f48;
				color: white;
				border: none;
				@include placeholder {
					color: white;
					@include opacity(1);
				}
			}
			.gform_button{
				border:none;
				background-color: $light-blue;
				text-align: center;
				color: white; 
				font-weight: 400;
				@include font-size(14);
			}
			.gform_footer{
				margin:0;
			}
		}
	}
	#footer-bottom{
		padding: 25px 0 0;
		.alpha{
			@include font-size(11);
			float:left;
			@media screen and (max-width: $break-large) {
				float:none;
				display: inline-block;
				margin:0 auto;
			}
			@media screen and (max-width: $break-small) {
				margin-bottom: 20px;
			}
			a,span{
				display: inline-block;
				margin-right:10px;
				@media screen and (max-width: $break-small) {
					margin-right:0;
				}
				float:left;
				height:32px;
				line-height: 32px;
				&.fruitful{
					width:60px;
					img{
						margin-top:6px;
					}
					@media screen and (max-width: $break-small) {
						float:none;
						margin: 20px 0 0;
					}
				}
			}
			span{
				padding-left: 180px;
				background:url('../images/fast-forward-footer.svg') left center no-repeat;
				background-size: 160px 20px;
				@media screen and (max-width: $break-small) {
					padding-left: 0;
					padding-top: 30px;
					line-height: 140%;
					background:url('../images/fast-forward-footer.svg') center top no-repeat;
					background-size: 160px 20px;
					margin-bottom: 10px;
				}
			}
		}
		@media screen and (max-width: $break-medium) {
			text-align: center !important;
		}
	}
}
#twitter-feed{
	ul{
		li{
			position: relative;
			margin-bottom: 25px;
			.user{
				@include abs-pos(0,auto,auto,0);
				img,span{
					display: none;
				}
				a{
					display: block;
					width:28px;
					height:28px;
					background:url('../images/twitter-user-icon.svg') left top no-repeat;
					background-size: 28px 28px;
				}
			}
			p{
				margin-bottom: 4px;
				padding: 0 0 0 37px;
				&.tweet{
					color: $grey;
					a{
						color: $light-blue;
					}
				}
				&.timePosted{
					@include font-size(11);
				}
				&.interact{
					display: none;
				}
			}
		}
	}
}
ul.retailers{
	li{
		width:100%;
		display: block;
		a{
			width:60%;
			height:auto;
			display: inline-block;
			background-size: 100% auto;
			img{
				@include fit-grid(width);
			}

		}
	}
}
#footer-anchor{
	position: relative;
	width:100%;
	height: 50px;
	background:url('../images/footer-divide.png') center center repeat-x;
	@extend %clearfix;
	a{
		float:right;
		width:50px;
		height:50px;
		display: block;
		background: url('../images/button-anchor-up.svg') left top no-repeat;
		background-size: 50px 50px;
		@extend %ir;
	}
}






