input[type="text"], 
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea,
.selectBox-dropdown{
	line-height: 1;
	height: 34px;
	font-family: $open_sans;
	background-color: #fff;
	padding: 0 5px;
	@include font-size(12);
	color: #000;
	@include border-radius(4px);
	border: 1px solid #b8b8b8;
	width: 100%;
	@include placeholder {
    color: #666;
  }
}
textarea{
	padding: 5px;
	height: auto;
	resize: none;
}
.selectBox-dropdown{
	position: relative;
	width:94px !important;
	&:hover, &:active, &:focus{
		border-style: solid;
		border-color: black;
	}
	&.selectBox-menuShowing{
    	background: #fff;
    }
    &.selectBox-menuShowing-bottom{

    }
    &.selectBox-menuShowing-top{
    	
    }
	.selectBox-label{
		height: 32px;
		line-height: 32px;
		@include font-size(14);
		color: #666;
		display: block;
	}
	.selectBox-arrow{
		height: 20px;
    	width: 20px;
    	background: url('../images/selectbox-arrow.svg') center center no-repeat;
    	background-size:20px 20px;
    	@include abs-pos(6px,8px,auto,auto);
    	display: block;
	}
}
.selectBox-dropdown-menu {
    position: absolute;
    z-index: 99999;
    max-height: 200px;
    min-height: 1em;
    background: #FFF;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    @include box-shadow(0 2px 6px rgba(0, 0, 0, .2));
	&.selectBox-options{
		li,a{
			list-style: none;
    		display: block;
    		cursor: default;
    		padding: 0;
    		margin: 0;
			text-align:left;
		}
		li{
			&.selectBox-hover a {
    			background-color: #eeeee9;
    		}
    		&.selectBox-selected a{
    			background-color: white;
    		}
		}
		a{
			font-family: $helvetica;
			@include font-size(12);
			padding: 0 5px;
			color: #666;
		}
		&.selectBox-options-top{
    		border-bottom:none;
			margin-top:1px;
		}
		&.selectBox-options-bottom{

		}
		&.selectBox-optgroup {
    		color: #666;
    		background: #EEE;
    		font-weight: bold;
    		line-height: 1.5;
    		padding: 0 .3em;
    		white-space: nowrap;
		}
	}
}
.selectBox-inline {
    min-width: 150px;
    outline: none;
    border: solid 1px #BBB;
    background: #FFF;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
}


//gravity forms

.gform_wrapper{
	margin:0;
	.gform_body{
		@extend %clearfix;
	}
	.gform_footer{
		text-align: right;
		margin:20px 0 0;
	}
	ul{
		list-style-type: none;
	}
	li{
		padding: 0 !important;
		margin-bottom: 10px;
		list-style-type: none;
		
		&:before{
			background:none !important;
		}
		&#field_1_5{
			@include span-columns(12);
		}
		&.no-label{
			label{
				display: none;
			}
		}
		&.half{
			select,input{
				width: 50%;
			}
		}
	}
	label{
		font-family: $open_sans;
		@include font-size(15);
		margin-bottom: 4px;
		display: block;
		.gfield_required{
			color: $light-blue;
			padding-left:4px;
		}
	}
	
	select{
		width: 70%;
		@media screen and (max-width: $break-small) {
			width:100%;
		}
	}	

	.button{
		border:none;
		background-color: $light-blue;
		text-align: center;
		color: white;
	}
}






