nav.social{
	float:right;
	margin: 32px 0 0;
	@media screen and (max-width: $break-small) {
		#header &{
			display:none;
		}
	}
	#footer &{
		margin:0;
		@media screen and (max-width: $break-large) {
			float:none;
			@include centered-menu;
		}
		li{
			@media screen and (max-width: $break-small) {
				margin: 0 5px;
			}
		}
	}
	@include inline-menu;
	li{
		margin-left: 15px;
	}
	a{
		width:32px;
		height:32px;
		background-image:url('../images/twitter.svg');
		background-position:center center;
		background-repeat: no-repeat;
		&:hover,&:active{
				@include opacity(.8);
			}
		@extend %ir;
		&.fb{
			background-image:url('../images/facebook.svg');
		}
		#footer &{
			@include opacity(.4);
			&:hover,&:active{
				@include opacity(1);
			}
		}
	}
}
a.button{
	display: inline-block;
	height: 48px;
	padding:0 12px;
	line-height: 48px;
	position: relative;
	color: $blue;
	@include font-size(22);
	@include border-radius(7px);
	text-transform:uppercase;
	font-weight:600;
	font-style:normal;
	&:link,&:visited{
		background-color:$yellow;
	}
	&:hover,&:active{
		background-color:white;
	}
	&.arrow{
		padding-right:40px;
		&:after{
			content:"";
			display: block;
			width:16px;
			height:16px;
			@include abs-pos(16px,10px,auto,auto);
			background:url('../images/arrow.svg') left top no-repeat;
			background-size: 16px 16px;
		}
	}
}
#intro{
	@extend .clearfix;
	margin-bottom: 20px;
	h2{
		font-family: $open_sans;
		font-style: normal;
		font-weight: 400;
		text-align: center;
		line-height: 110%;
		@include font-size(24);
		color: $light-blue;
		margin-bottom: 30px;
		@media screen and (max-width: $break-small) {
			@include font-size(20);
			text-align: left;
		}
	}
	.alpha,.beta{
		@include span-columns(6);
		padding: 0 10px 0 0;
		@media screen and (max-width: $break-medium) {
			@include span-columns(12);
			padding:0;
		}
	}
	.beta{
		padding: 0 0 0 10px;
		@media screen and (max-width: $break-medium) {
			padding:0;
		}
	}
}
#main section{
	padding-bottom:20px;
	header.section-header{
		//width:100%;
		@extend .clearfix;
		display: block;
		position: relative;
		height:18px;
		background-image:url('../images/angle-tile.jpg');
		background-repeat: repeat-x;
		margin-bottom: 35px;
		h1,h2,h3,a{
			background-color: white;
			display: inline-block;
			height:18px;
			line-height: 18px;
			font-family: $ocra;
			text-transform: uppercase;
			position: relative;
			@include font-size(21);
			color: black;
		}
		&.left{
			background-position: right top;
			margin-right: 6px;
			&:after{
				content:"";
				width:9px;
				height:18px;
				display: block;
				@include abs-pos(0,-6px,auto,auto);
				background:url('../images/angle-tile-after.jpg') 0 0 no-repeat;
				clear: both;
			}
			h1,h2,h3,a{
				//padding-right: 5px;
				&:after{
					content:"";
					width: 18px;
					height: 18px;
					display: block;
					@include abs-pos(0,-18px,auto,auto);
					background:url('../images/subhead-after.png') left top no-repeat;
				}
			}
		}
		&.none{
			&:before{
				content:"";
				width: 18px;
				height: 18px;
				display: block;
				@include abs-pos(0,auto,auto,0);
				background:url('../images/subhead-after.png') left top no-repeat;
			}
		}
		&.right{
			background-position: left center;
			margin-left: 12px;
			&:before{
				content:"";
				width:12px;
				height:18px;
				display: block;
				@include abs-pos(0,auto,auto,-12px);
				background:url('../images/angle-tile-before.jpg') 0 0 no-repeat;
			}
			h1,h2,h3,a{
				float: right;
				padding-left: 5px;
				&:before{
					content:"";
					width: 18px;
					height: 18px;
					display: block;
					@include abs-pos(0,-18px,auto,auto);
					background:url('../images/subhead-before.png') left top no-repeat;
				}
			}
		}
	}
}
.divide{
	padding: 14px 0 34px;
	div{
		//margin:14px 6px 14px 0;
		margin:0 6px 0 0;
		background-position: right center;
		position: relative;
		@extend .clearfix;
		display: block;
		position: relative;
		height:18px;
		background-image:url('../images/angle-tile.jpg');
		background-repeat: repeat-x;
		&:before{
			content:"";
			width: 18px;
			height: 18px;
			display: block;
			@include abs-pos(0,auto,auto,0);
			background:url('../images/subhead-after.png') left top no-repeat;
			}
		&:after{
			content:"";
			width:9px;
			height:18px;
			display: block;
			@include abs-pos(0,-6px,auto,auto);
			background:url('../images/angle-tile-after.jpg') 0 center no-repeat;
			clear: both;
		}
	}
	a.more{
		@include abs-pos(0,-6px,auto,auto);
		color: black;
		font-weight:700;
		text-transform: uppercase;
		@include font-size(14);
		height:18px;
		line-height: 18px;
		display: inline-block;
		background-color: white;
		padding:0 16px 0 4px;
		z-index: 9999;
		&:before{
			content:"";
			width: 18px;
			height: 18px;
			display: block;
			@include abs-pos(0,auto,auto,-18px);
			background:url('../images/subhead-before.png') left top no-repeat;
		}
		&:after{
			content:"";
			width:8px;
			height:12px;
			display: block;
			background-image:url('../images/arrow-right.svg');
			background-position:left center;
			background-repeat: no-repeat;
			background-size: auto 100%;
			@include abs-pos(3px,0,auto,auto);
		}
		&:hover,&:active{
			color: $light-blue;
			&:after{
				background-position: right center;
			}
		}
	}
}
#banner{
	background-color: white;
	.container{
		display: block;
		background-size: 100% auto;
		background-repeat: no-repeat;
		height: 312px;
		overflow:hidden;
		background-color: $light-grey;
		@media screen and (max-width: $break-medium) {
			height: 247px;
		}
		@media screen and (max-width: $break-small) {
			height:102px;
		}
	}	
}
.read-more{
	&:link,&:visited{
		color: $blue !important;
	}
}