#footer{
	padding: 40px 0;
	background:url('../images/divide.jpg') left top repeat-x; 
	margin-top:20px; 
	.container{ 
		@extend .clearfix;	
	}
	.alpha{
		@include font-size(11);
		a,span{
			display: inline-block;
			margin-right:10px;
			float:left;
			height:45px;
			line-height: 45px; 
			&.fruitful{
				width:138px;  
			}
		}
		span{
			padding-left: 180px;
			background:url('../images/fast-forward-footer.svg') left center no-repeat;
			background-size: 160px 20px;
		}
	}
}