.menu{
	.column{
		@include span-columns(4);
		@include shift(2);
		@media screen and (max-width: $break-small) {
			@include span-columns(12);
			margin:0;
		}
		text-align:left;
		h3{
			@include font-size(16);
			span{
				display: inline-block;
				border-bottom: 1px solid #000;
				line-height: 100%;
			}
		}
		p{
			@include font-size(14);
			line-height: 110%;
			margin-bottom: 15px;
		}
		&.right{
			@include shift(1);
			@media screen and (max-width: $break-small) {
				margin:0;
			}
		}
	}
}